<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>SparkCloud</title>
    <link rel="stylesheet" href="public/index.css" />
  </head>
  <body>
    <div class="container">
      <h1>SparkCloud</h1>
      <p>
        SparkCloud is a cloud storage service that allows you to store your
        files in the cloud and access them from anywhere.
      </p>
      <p>
        SparkCloud is currently in beta. If you would like to try it out, please
        <a href="https://discord.gg/sWjcyBbSgC">join our discord server</a>.
      </p>
    </div>
  </body>
</html>

