<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>SparkCloud email change</title>
</head>
<body>
<p>
    Hello {{ username }},
</p>
<p>
    Your email address has been changed on SparkCloud. If you did not request this change, please contact our security team immediately via <a href="mailto:security@sparkcloud.link">email</a>.
</p>
<p>
    If you did request this change, you can safely ignore this email.
</p>
<p>
    Thank you,
</p>
<p>
    SparkCloud
</p>
</body>
</html>
