<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>SparkCloud verify email</title>
</head>
<body>
<p>
    Hello {{ username }},
</p>
<p>
    You have to verify your email address on SparkCloud.
</p>
<p>
    Please click on the following link, or paste this into your browser to complete the process:
</p>
<p>
    <a href="{{ url }}">{{ url }}</a>
</p>
<p>
    If you did not request this, please ignore this email.
</p>
<p>
    Thank you,
</p>
<p>
    SparkCloud
</p>
</body>
</html>
